
.projectDescription {
   font-size: 1.25rem;
}

.projectDescription span {
   font-weight: 500;
}

.projectLinks {
   display: flex;
   justify-content: flex-end;
}

.link {
   display: flex;
   align-content: center;
   gap: 5px;
   padding: 5px;
}

.linkImage {
   margin: auto;
   height: 24px;
   width: 24px;
   flex-shrink: 0;
   border-radius: 50%;
   overflow: hidden;
}

.label {
   white-space: nowrap;
   font-weight: 500;
   font-size: 1.25rem;
   color: var(--main-dark);
   text-decoration: underline;
}