.card {
   box-shadow: var(--card-shadow);
   width: min(200px, 90%);
   padding: 1%;
   cursor: pointer;
   margin: 1%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.card:hover {
   text-decoration: underline;
}

.card h3 {
   text-align: center;
   color: var(--main-dark);
}

.cardIcon {
   align-self: center;
   width: 100%;
   padding: 5%;
}
