/* The App title should be to the left on a full width screen */
.portfolioTitle {
   font-family: 'Ubuntu Condensed', sans-serif;
}

.footer {
   background-color: var(--secondary-dark);
   height: 4rem;
   color: var(--main-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .footer a {
   text-decoration: underline;
 }