@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root {
  --main-color: #fae4e5;
  --main-dark: #1b1c31;
  --secondary-dark: #30303a;
  --headers: #51459e;
  --center-background: #e5e3f399;

  --navbar-height: 3rem;
  --footer-height: 4rem;
  --mobile-width: 480px;
  --project-padding: 1rem 1%;
  --card-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
