:root {
  --main-color: #fae4e5;
  --main-dark: #1b1c31;
  --secondary-dark: #30303a;

  --navbar-height: 3rem;
  --mobile-width: 480px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
