.intro {
  display: flex;
  padding-left: 10%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 82% 92%, 0 100%);
}

/* Handle tablet AND mobile */
@media screen and (max-width: 820px) {
  /*hide the right slant and leave the bottom one*/
  .intro {
    flex-grow: 1;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}