.introWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 10%;
}

.intro {
  height: 100%;
  display: flex;
  width: 100%;
  background-color: white;
  position: relative;
  clip-path: polygon(0 0, 75% 0, 60% 90%, 0 100%);
}

/* Div containing the intro text*/
.content {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 5% 1% 7%;
}

.content h1 {
  color: var(--headers);
  text-align: left;
}

.paragraph {
  width: 50%;
}

.main {
  background-color: var(--main-color);
  overflow-x: hidden;
}

.content p {
  width: 100%;
  word-break: break-word;
  font-size: 1.5rem;
  text-align: left;
}

.focus {
  font-weight: bold;
}

.footer {
  background-color: var(--secondary-dark);
  height: 4rem;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  overflow: visible;
  width: 100%;
}

.buttonContainer button {
  font-size: 1.25rem;
  padding: 1% 2%;
  border-radius: 4px;
}

.btnPrimary {
  background-color: var(--main-dark);
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
}

.btnSecondary {
  border-color: var(--main-dark);
  color: var(--main-dark);
  background-color: white;
  border: 2px solid;
  font-weight: bold;
}

.chevronIcon {
  display: flex;
}

.contactMe {
  background-color: white;
  min-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMe .description {
  text-align: center;
  padding: 0 2%;
  font-size: 1.5rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2% auto;
  gap: 1%;
}

@media screen and (max-width: 1024px) { }

/* Large Screens */
@media screen and (min-width: 1920px) {
  .content h1 {
    font-size: 3rem;
  }

  .content p {
    font-size: 2rem;
  }
}

/* Handle tablet AND mobile */
@media screen and (max-width: 768px) {
  .introWrapper {
    margin-bottom: 25%;
  }
  /*hide the right slant and leave the bottom one*/
  .intro {
    flex-grow: 1;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .content {
    width: 100%;
    margin-bottom: 8%;
  }

  .paragraph {
    width: 100%;
    /* top | horizontal | bottom */
    padding: 3% 3% 7%;
  }
}

@media screen and (max-width: 480px) {
  .paragraph {
    align-items: center;
  }
}