.main {
   background-color: var(--main-color);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.centerContent {
   min-height: calc(100vh - var(--navbar-height));
   width: 66%;
   color: var(--main-dark);
}

.pageTitle h1 {
   font-size: 3rem;
   color: var(--main-dark);
}

.centerContent h2 {
   font-size: 2rem;
   color: var(--headers);
   background-color: white;
   box-shadow: var(--card-shadow);
   padding: 1% 2%;
}

.projectDescription {
   font-size: 1.5rem;
}

.projectDescription span {
   font-weight: 500;
}

.currentProject h3 {
   font-size: 1.7rem;
}

.chips {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
}

.imageContainer {
   width: 66%;
   height: 25vh;
   overflow: hidden;
   position: relative;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

.headerImage {
   width: 100%;
}

.imageOverlay {
   position: absolute;
   top: 0;
   background: radial-gradient(at 100% -25%,#b9b5dd99 20%, hsl(248, 32%, 40%));
   height: 100%;
   width: 100%;
   padding: 3rem 3%;
}
