.main {
   background-color: var(--main-color);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.centerContent {
   background-color: white;
   min-height: calc(100vh - var(--navbar-height));
   width: 66%;
   /* vertical | horizontal */
   padding: 3em 3%;
   color: var(--main-dark);

}

.pageTitle h1 {
   font-size: 3rem;
   color: var(--main-dark);
}

.centerContent h2 {
   font-size: 2rem;
   color: var(--headers);
}

.projectDescription {
   font-size: 1.5rem;
}

.projectDescription span {
   font-weight: 500;
}

.currentProject h3 {
   font-size: 1.7rem;
}

.chips {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
}

.imageContainer {
   width: 66%;
   height: 25vh;
   overflow: hidden;
   position: relative;
}

.headerImage {
   width: 100%;
}

.imageOverlay {
   position: absolute;
   top: 0;
   background-color: #b9b5dd99;
   height: 100%;
   width: 100%;
   padding: 3em 3%;
}
