

/* The actual timeline (the vertical ruler) */
.timeline {
   position: relative;
   max-width: 1200px;
   margin: 0 3% 0 3%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
   content: '';
   position: absolute;
   width: 4px;
   background-color: white;
   top: 0;
   bottom: 0;
}

.intro {
   background-color: white;
   margin-bottom: 3%;
   padding: 1% 2%;
   display: flex;
}