.navContainer {
   display: flex;
   align-items: stretch;
   justify-content: flex-end;
   width: 25%;
}

.link {
   padding-left: 3%;
   padding-right: 3%;
   display: flex;
   align-items: center;
}

.navButton {
   height: 100%;
}

.navButton:hover {
   background-color: var(--main-color);
   color: var(--main-dark);
}

.navButtonClicked {
   background-color: var(--main-color);
   color: var(--main-dark);
}

@media screen and (max-width: 480px) {
   .link {
      width: 100%;
      text-align: center;
      justify-content: center;
   }

   .navContainer {
      display: none;
   }

   .hide {
      display: none;
   }

   .listContainer {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
      padding-left: 0;
   }

   /** Override button highlight on mobile when hovering */
   .navButton:hover {
      background-color: var(--secondary-dark);
      color: var(--main-color);
   }
}