.navbar {
   background-color: #1b1c31;
   color: white;
   display: flex;
   align-items: stretch;
   justify-content: flex-end;
   height: 3rem;
   width: 100%;
   padding-right: 1%;
   font-size: 1.5rem;
}

.portfolioTitle {
   justify-self: start;
   align-self: center;
   flex-grow: 1;
   padding-left: 1%;
}

.navButton {
   height: 100%;
}

.navButton:hover {
   background-color: #fae4e5;
   color: #1b1c31;
}

.navButtonClicked {
   background-color: #fae4e5;
   color: #1b1c31;
}

@media screen and (max-width: 480px) {
   .navbar {
      display: flex;
      min-height: 3rem;
   }

   .hideOnMobile {
      display: none;
   }

   .portfolioTitle {
      text-align: center;
   }
}