.navbar {
   background-color: #1b1c31;
   color: #fae4e5;
   display: flex;
   align-items: stretch;
   justify-content: flex-end;
   height: 3rem;
   width: 100%;
   padding-right: 1%;
   font-size: 1.5rem;
}

.portfolioTitle {
   justify-self: start;
   align-self: center;
   flex-grow: 1;
   padding-left: 1%;
   color: white;
}

.mobileNav {
   display: none;
}

.menuIcon {
   display: none;
}

@media screen and (max-width: 480px) {
   .navbar {
      display: flex;
      min-height: 3rem;
   }

   .hideOnMobile {
      display: none;
   }

   .portfolioTitle {
      text-align: center;
   }

   .mobileNav {
      display: block;
      background-color: #30303a;
      color: #fae4e5;
   }

   .menuIcon {
      display: flex;
      border: 1px solid white;
      align-self: center;
   }
}