.currentProject h3 {
   font-size: 1.7rem;
}

.projectDescription {
   font-size: 1.25rem;
}

.projectDescription span {
   font-weight: 500;
}

.chips {
   margin-left: 1%;
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
}