.currentProject {
   display: flex;
   flex-direction: column;
   box-shadow: var(--card-shadow);
   background-color: white;
   padding-bottom: 1%;
   padding-left: 2%;
   padding-right: 2%;
   margin-bottom: 2%;
}

.currentProject h3 {
   font-size: 1.7rem;
}

.projectDescription {
   font-size: 1.25rem;
}

.projectDescription span {
   font-weight: 500;
}

.chips {
   margin-left: 1%;
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
}