.currentProject {
   display: flex;
   flex-direction: column;
   box-shadow: var(--card-shadow);
   background-color: white;
   padding-bottom: 1%;
   padding-left: 2%;
   padding-right: 2%;
   margin-bottom: 2%;
}

.currentProject h3 {
   font-size: 1.7rem;
}

.projectDescription {
   font-size: 1.25rem;
}

.projectDescription span {
   font-weight: 500;
}

.chips {
   margin-left: 1%;
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
}

.projectLinks {
   display: flex;
   justify-content: flex-end;
}

.link {
   display: flex;
   align-content: center;
   gap: 5px;
   padding: 5px;
}

.linkImage {
   margin: auto;
   height: 24px;
   width: 24px;
   flex-shrink: 0;
   border-radius: 50%;
   overflow: hidden;
}

.label {
   white-space: nowrap;
   font-weight: 500;
   font-size: 1.25rem;
   color: var(--main-dark);
   text-decoration: underline;
}